body{
    font-style: italic;
    background-color: black;
    color: white;
}

h1, h2, p {
    padding: 1%;
}

h1{
    color: grey;
    background-color: darkgrey;
}

h2{
    color: cadetblue;
    background-color: darkslateblue;
}

p{
    color: lightgrey;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: darkgrey;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-list li{
    margin: 0 10px;
}

.main-content{
    display: flex;
    text-align: center;
    
}
